.JobBoard {
  position: relative;
  height: fit-content;
  min-height: 90vh;

  display: flex;
  flex-direction: column;

  background-color:  #FFF5E1;
  padding: 10%;
  padding-top: 0;
}

.JobBoard h1 {
  width: 80%;
  font-size: 300%;
  position: relative;
}

.JobBoard-selection {
  height: fit-content;
  width:100%;

  display: flex;
  flex-direction: row;
}

.JobBoard-job-collection {
  height: fit-content;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.JobBoard-job {
  width: 80%;

  margin: 5%;
  border-radius: 20px;

  background-color: #fefaf3;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.JobBoard-img-container {
  background-color: rgb(189, 189, 189);
  width: 20%;
  height: 50%;
  margin-right: 10%;

  border-radius: 10px;
}

.JobBoard-job-info {
  position: relative;
  width: 80%;
}

.JobBoard-job-info h2 {
  margin: 0;
  margin-top: 5%;
  font-size: 100%;
}

.JobBoard-job-info p {
  margin-top: 5%;
}

.JobBoard-firm {
  margin: 0;
}

.JobBoard-location {
  font-size: 75%;
  margin-left: 65%;
}

.JobBoard-job-collection a {
  background-color: #fce9ca;
  color: black;
  text-decoration: none;
  transition-duration: 500ms;
}

.JobBoard-job-collection a:hover {
  background-color: #ffffff;
}

.tags {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tag-button {
  background-color: #fce9ca;
  border: none;
  border-radius: 10px;
  padding: 5%;
  padding-left: 2%;
  padding-right: 2%;

  transition-duration: 500ms;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-button:hover {
  background-color: #ffffff;
}

.tag-button+.tag-button {

  margin: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
}


.job-search-group {
  margin-top: 0;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: auto;
  margin-right: 5%;
  padding: 0.5%;
}

.job-search {
  width: 80%;
  margin-right: 5%;
  margin-top: 0;
  border: 1px solid black;
}


@media only screen and (max-width: 1000px) {
  .JobBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .JobBoard h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .JobBoard-selection {
    flex-direction: column-reverse;
    align-items: center;

  }

  .job-search-group {
    margin: 0;
    margin-left: 15%;
    margin-bottom: 2%;
    width: 80%;
  }

  .JobBoard-job-collection {
    grid-template-columns: repeat(2, 1fr);
  }

  

  
}