.Login {
  position: relative;
  height: fit-content;
  min-height: 90vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color:#FFF5E1;
}

.login-container {
  height: fit-content;
  width: 35%;

  display: flex;
  flex-direction: column;
}

.login-block {
  height: fit-content;
  width: 100%;
  background-color: inherit;
  padding-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-type {
  background-color: rgb(253, 215, 166);
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border: none;
  transition-duration: 250ms;

  box-shadow: 5px 5px rgb(151, 113, 67);
}

.login-type:hover {
  background-color: rgb(253, 215, 166);
  box-shadow: 5px 5px rgb(151, 113, 67);
}

.unclicked {
  background-color: inherit;
  box-shadow: none;
}

.login-block-bottom
{
  margin-top: 0;
  background-color: rgb(253, 215, 166);
  padding: 1%;

  border-radius: 10px;
  border-top-left-radius: 0;

  box-shadow: 5px 5px rgb(151, 113, 67);
}

.login-block form {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding: 1%;
}

.login-input-group {
  height: 10vh;
  width: 100%;

  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.login-text {
  height: fit-content;
  min-height: 50%;
  width: 80%;

  position: relative;
  left: 10%;

  background-color: rgb(253, 215, 166);
  color: #000000;

  border: 1px solid black;
  border-radius: 7px;
}

.login-input-group label {
  background-color: rgb(253, 215, 166);
  position: relative;
  top: -30%;
  left: -65%;

  padding-left: 2%;
  padding-right: 2%;
  
  font-size: 75%;
  color: #000000;
}

.login-buttons {
  width: 60%;

  display: flex;
  flex-direction: row;

  padding: 5%;
}

.login-button {
  width: 50%;

  padding: 5%;
}

.login-button+.login-button {
  margin-left: 10%;
}

.login-button-left {
  background-color: inherit;
  border: none;

  font-size: 100%;
  font-weight: 550;

  transition-duration: 500ms;
}

.login-button-left:hover {
  color: #994929;
}

.login-button-right {
  background-color: #994929;
  border: none;

  font-size: 100%;
  font-weight: 550;

  border-radius: 10px;

  transition-duration: 500ms;
}

.login-button-right:hover {
  color: #FFF5E1;
}

.forgot {
  font-size: 75%;
  font-weight: 55F0;
  text-decoration: none;
  color: black;
  transition-duration: 500ms;
}

.forgot:hover {
  color: #994929;
}

@media only screen and (max-width: 750px) {
  .login-container {
    width: 70%;
  }
}
